.navigation{padding:10px 0; background: #fff;}
.navigation .row{align-items: center;}
.navgap{gap:30px;}
.navgap li{position: relative;}
.navgap li a{padding: 0 !important;}
.navpad{ padding: 25px 0; background-color: var(--white);}
.navpad .navbar-nav .nav-link{color: var(--black);font-size: 18px;font-weight: 400;line-height: 26px; text-transform: uppercase;}
.navpad .navbar-nav .nav-link:focus, .navpad .navbar-nav .nav-link:hover, .navpad .navbar-nav .nav-link.active{color: var(--brown); position: relative;}
.navpad .navbar-nav .nav-link.active::before{content: ''; width: 100%; height: 2px; background-color: var(--brown); position: absolute; bottom: 0; left: 0; }
.navpad .navbar-nav .nav-item.active::before{width: 100%;}
.navpad .navbar-nav .nav-item:hover::before{width:100%;}
.mainlogo img{ height: 200px; object-fit: contain; border: 2px solid #F3E7B7; border-radius: 20px; background-color: var(--white);}
.mainlogo { position: absolute; left: 0; right: 0; margin: auto; text-align: center; top: 100px; z-index: 1;}
.mainlogo a{ display: inline-block;}

.dropdown-menu.show { display: flex; flex-direction: row; transform: translate(0px, 52px) !important;}
.dropdown-menu.show li { width: 100%; flex: 1; min-width: 180px;}
.dropdown-menu ul{ list-style: none; padding: 0; margin: 0;}
.dropdownTitle {font-size: 16px;font-weight: 700; padding: 0 8px; margin-bottom: 10px;}
.dropdownListItem li:not(:first-child) a, .dropdownList li a { padding: 8px !important; width: 100%; text-decoration: none; font-size: 16px; color: #000; display: inline-block; line-height: 1;}
.dropdownListItem li:not(:first-child):hover a, .dropdownList li:hover a{ background-color:#f1f1f1;}
.dropdownListItem li a.active{background-color:#f1f1f1;}
.dropdown-menu.show.dropdownList{ flex-direction: column;}
.headerBtn{text-align: right;}

.wrapper {
	background-color: #E1E2E2;
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	height: 200px;
	z-index: 2;
}

.wrapper:after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.wrapper:before {
	left: 0;
	top: 0;
}

.wrapper .track {
	display: flex;
	width: calc(150px * 10);
	animation: scroll 15s 0.5s linear infinite;
}

.wrapper .logo {
	width: 200px;
}

.wrapper .logo img {
	height: 90px;
}

@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-150px * 10));
	}
}

@media (max-width:991px){
    .navpad .navbar-nav .nav-link {color: var(--white) !important; width: fit-content; margin: 0 auto;}
    .navpad .navbar-nav .nav-link.active::before{ background-color: var(--white);}
    .navipad {position: absolute;top: 90px;left: 0;width:100%;background:var(--brown);height:100vh;margin: 0 !important;z-index: 111; overflow: hidden; scroll-behavior: auto;}
    .navbar-toggler:focus{box-shadow:none !important;}
    .navgap{gap: 0px;padding: 0 20px; margin-top: 70px;}
    .navipad{padding: 0;}
    .navigation{padding: 20px 0;}
    .navgap li {padding: 25px 0;width: 100%;}
    .navpad .navbar-nav .nav-item:not(:last-child)::before{background: url(../images/white-border.webp) no-repeat;background-size: cover;width: 100%;height: 5px;z-index: 0;}
    .togglermobile {float: right;}
    .togglermobile {width: 25px; height: 20px; position: relative; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer;padding: 0;border: none;border-radius: 0;}
    .togglermobile span {display: block; position: absolute;width: 25px;height: 5.41px;background:#000;opacity: 1; left: 0; -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
    .togglermobile span:nth-child(1){top: 0px;}
    .togglermobile span:nth-child(2){opacity: 0;}
    .togglermobile span:nth-child(3){top: auto;bottom: 0;}
    .togglermobile:not(.collapsed) span:nth-child(1){top: 5px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);transform: rotate(135deg);}
    .togglermobile:not(.collapsed) span:nth-child(3){top: 5px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);transform: rotate(-135deg);}

    .home_abs #nav-icon1 span{background: var(--white);}

    .dropdown-menu.show{ position: relative !important; transform: translate3d(0px, 0px, 0px)!important; flex-direction: column;}
    .dropdown-menu.show li{ padding: 0;}
    .dropdown-menu.show li.dropdownTitle{ padding: 0 8px;}
    .order1{ order: 1;}
    .order2{ order: 2;}
    .order3{ order: 3;}

    .mainlogo{ position: relative; left: 0; top: 0; z-index: 115;}
    .mainlogo a img{ height: auto;  height: 150px;}
    .navigation .row{ align-items: flex-start;}
    .togglermobile{ margin-top: 20px;}
}
@media (max-width:767.98px){
    .headerBtn span{ display:none;}
}

@media (max-width:567.98px){
    .mainlogo a img{ height: auto;  height: 100px;}
    .navipad{ top: 80px;}

}
